@font-face {
  font-family: "Myriad-Pro";
  src: url("../fonts/MYRIADPRO-REGULAR.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Myriad-Pro";
  src: url("../fonts/MyriadPro-Light.woff");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Myriad-Pro";
  src: url("../fonts/MYRIADPRO-BOLD.woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
body {
  font-family: "Myriad-Pro", Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  body {
    line-height: 21px;
  }
}
@media (min-width: 1200px) {
  body {
    background-color: #f2f2f2;
  }
  .body__wrap {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.3);
  }
}
.header {
  position: relative;
}
.header__logo {
  margin-left: -51px;
  position: absolute;
  bottom: -27px;
  left: 50%;
}
@media (min-width: 768px) {
  .header__control {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    margin-left: -94px;
  }
}
.nav {
  height: 223px;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  box-shadow: inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  transition: height 1s linear;
  overflow: hidden;
}
.nav--close {
  height: 0;
}
.nav__item {
  line-height: 54px;
  text-align: center;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
  transition: all 0.5s linear;
}
.nav__item:hover,
.nav__item:focus {
  background-color: #669ec0;
}
.nav__item:active {
  background-color: #5496bd;
}
.nav__item:active a {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .nav {
    height: auto;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    box-shadow: none;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    width: 180px;
    border: none;
  }
  .nav__item:nth-child(3) {
    margin-left: auto;
  }
  .nav__item:hover,
  .nav__item:focus {
    background-color: inherit;
    color: #81b3d2;
  }
  .nav__item:active {
    background-color: inherit;
    opacity: 0.3;
  }
}
@media (min-width: 1200px) {
  .nav__item {
    width: 239px;
  }
}
.control__list {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 56px;
  padding-right: 20px;
}
.control__item {
  display: flex;
}
.control__button {
  width: 23px;
  height: 23px;
  padding: 0;
  font-size: 0;
  border: none;
  background-color: inherit;
}
.control__button--close {
  display: none;
  position: absolute;
  top: 17px;
  right: 20px;
}
.control__button--close::after,
.control__button--close::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 23px;
  height: 3px;
  background-color: #ffffff;
}
.control__button--close::after {
  transform: rotate(45deg);
}
.control__button--close::before {
  transform: rotate(-45deg);
}
.control__button--open {
  position: relative;
}
.control__button--open::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 #81b3d2, 0 18px 0 #81b3d2;
}
.logo__img {
  width: 102px;
  height: 83px;
}
@media (min-width: 1200px) {
  .logo__img {
    width: 188px;
    height: 96px;
  }
}
.range {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 87.5%;
  height: 65px;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
}
.range__line {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.2);
}
.range__target {
  position: relative;
  left: 20%;
  width: 10px;
  height: 10px;
  transform: translateY(-3px);
  background-color: #ffffff;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .range {
    padding: 0 40px;
  }
}
.main__title {
  height: 158px;
  margin: 0 auto;
  margin-top: -2px;
  font-size: 0;
  background-color: #000000;
  background-image: url(../img/fon.svg), url(../img/sedona-small.svg), url(../img/back-mobile.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center bottom, center center , center bottom;
  background-size: 1200px 57px, 229px 39px, cover;
}
.main__title--index {
  height: 389px;
  background-image: url(../img/fon.svg), url(../img/sedona.svg), url(../img/back-mobile.jpg);
  background-size: 1200px 57px, 282px 214px, cover;
}
@media (min-width: 768px) {
  .main__title {
    height: 294px;
    background-image: url(../img/fon.svg), url(../img/sedona-small.svg), url(../img/back-tablet-form.jpg);
    background-size: 1200px 57px, 458px 78px, cover;
  }
  .main__title--index {
    height: 518px;
    background-image: url(../img/fon.svg), url(../img/sedona.svg), url(../img/back-tablet.jpg);
    background-size: 1200px 57px, 460px 350px, cover;
    background-position: center bottom, center 77px, center bottom;
  }
}
@media (min-width: 1200px) {
  .main__title--index {
    background-image: url(../img/fon.svg), url(../img/sedona.svg), url(../img/back-desktop.jpg);
  }
}
.advantages__title {
  width: 280px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.advantages__desk {
  width: 280px;
  margin: 30px auto 0;
  padding: 0 20px 10px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}
.advantages__list {
  display: flex;
  flex-direction: column;
  position: relative;
}
.advantages__list::after {
  content: "";
  width: 100%;
  height: 37px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/fon2.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 766px 37px;
}
.advantages__item {
  padding-top: 30px;
  background-color: #eeeeee;
}
.advantages__item:first-child {
  padding-top: 80px;
}
.advantages__item--wide {
  padding-top: 40px;
  background-color: #81b3d2;
}
.advantages__item:nth-child(1) {
  order: 1;
}
.advantages__item:nth-child(2) {
  order: 3;
}
.advantages__item:nth-child(3) {
  order: 4;
}
.advantages__item:nth-child(4) {
  order: 5;
}
.advantages__item:nth-child(5) {
  order: 6;
}
.advantages__item:nth-child(5) .advantages__inner {
  border: none;
}
.advantages__item:nth-child(6) {
  order: 2;
}
.advantages__inner {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 30px;
  color: #333333;
  border-bottom: 1px solid #d6d6d6;
}
.advantages__inner--wide {
  padding-bottom: 0px;
  color: #ffffff;
  border: none;
}
.advantages__img {
  margin-top: 40px;
}
.advantages__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.advantages__number {
  display: block;
  margin-top: 20px;
  text-align: center;
}
.advantages__text {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .advantages__title {
    width: 500px;
    font-size: 21px;
  }
  .advantages__desk {
    width: 500px;
  }
  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .advantages__list::after {
    display: none;
  }
  .advantages__item {
    width: 33.3%;
    padding: 0;
  }
  .advantages__item:first-child {
    padding-top: 0;
  }
  .advantages__item--wide {
    display: flex;
    width: 100%;
    height: 256px;
    padding-top: 0;
  }
  .advantages__item:nth-child(2) {
    flex-direction: row-reverse;
  }
  .advantages__inner {
    width: 160px;
    margin: 0 auto;
    padding: 45px 0;
    border: none;
    box-sizing: border-box;
  }
  .advantages__inner--wide {
    flex-grow: 1;
  }
  .advantages__img {
    width: 512px;
    margin: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .advantages__subtitle {
    font-size: 21px;
  }
  .advantages__text {
    width: 160px;
    margin: 20px auto 0;
  }
}
@media (min-width: 1200px) {
  .advantages__title {
    margin-top: 50px;
  }
  .advantages__inner {
    width: 400px;
    margin: 0;
    padding: 50px 0 60px;
  }
  .advantages__text {
    width: 280px;
    margin-top: 30px;
  }
  .advantages__img {
    width: 800px;
  }
}
.features {
  width: 280px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 40px;
  background-color: #ffffff;
}
.features__item {
  position: relative;
  padding-left: 50px;
  padding-top: 40px;
}
.features__img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  left: 0;
}
.features__title {
  margin: 0;
  text-transform: uppercase;
}
.features__text {
  width: 210px;
  margin-top: 20px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
@media (min-width: 768px) {
  .features {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .features__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 330px;
  }
  .features__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 166px;
    height: 210px;
    padding: 0 45px;
  }
  .features__item:nth-child(2) {
    order: 3;
  }
  .features__item:nth-child(3) {
    order: 2;
  }
  .features__img {
    width: 75px;
    height: 75px;
    position: static;
  }
  .features__text {
    width: auto;
    margin: 0;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .features__list {
    height: 270px;
    padding-top: 60px;
    align-items: flex-start;
  }
  .features__item {
    width: 260px;
    height: 190px;
    padding: 0 70px;
  }
}
.search-motel__title {
  margin: 0;
  margin-top: 30px;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}
.search-motel__text {
  width: 280px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.search-motel__text br {
  display: none;
}
.search-motel__button {
  width: 280px;
  margin: 0 auto;
  margin-top: 40px;
}
.search-motel__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin-top: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .search-motel__title {
    margin-top: 50px;
    font-size: 30px;
    line-height: 36px;
  }
  .search-motel__text {
    width: 458px;
    margin-top: 35px;
  }
  .search-motel__text br {
    display: inline;
  }
  .search-motel__button {
    width: 458px;
  }
  .search-motel__wrap {
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .search-motel__wrap {
    margin-top: 65px;
  }
}
.button {
  display: block;
  padding: 0;
  font-size: 21px;
  line-height: 58px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.footer {
  padding: 40px 0 20px;
}
.footer__social {
  margin: 40px auto 0;
}
.footer__html {
  margin: 40px auto 0;
}
@media (min-width: 768px) {
  .footer {
    padding: 36px 60px;
  }
  .footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__social {
    margin: 0;
  }
  .footer__html {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 36px 120px;
  }
}
.visit {
  display: block;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.social__list {
  display: flex;
  justify-content: space-between;
  width: 161px;
  margin: 0 auto;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  font-size: 0;
  background-color: #81b3d2;
}
.social__link:hover,
.social__link:focus {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
}
.social__link .social__img {
  fill: #ffffff;
}
.social__link .social__img--tw {
  width: 18px;
  height: 14px;
}
.social__link .social__img--fb {
  width: 9px;
  height: 18px;
}
.social__link .social__img--youtube {
  width: 20px;
  height: 14px;
}
.social__link .social__img:active {
  opacity: 0.3;
}
.html {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  height: 34px;
  padding: 0 6px;
  font-weight: 600;
  text-transform: uppercase;
}
.html:hover svg,
.html:focus svg {
  fill: #81b3d2;
}
.html:active svg {
  opacity: 0.3;
}
.html__img {
  width: 27px;
  height: 34px;
}
.review__title {
  width: 270px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
.review__text {
  width: 270px;
  margin: 0 auto;
  margin-top: 35px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
.review__form {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .review__title {
    width: auto;
    margin-top: 70px;
    font-size: 30px;
    line-height: 36px;
  }
  .review__text {
    width: 490px;
  }
  .review__form {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .review__title {
    margin-top: 110px;
  }
  .review__text {
    width: 450px;
  }
}
.form__group {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  margin: 0;
  border: none;
  border-top: 1px solid #e5e5e5;
}
.form__title {
  width: 280px;
  margin: 0 auto;
  float: left;
  padding: 0;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.form__inner {
  position: relative;
  display: flex;
  width: 280px;
  margin: 0 auto;
  margin-top: 20px;
}
.form__inner--column {
  flex-direction: column;
}
.form__inner--radio {
  margin-top: 15px;
  line-height: 58px;
}
.form__inner--checkbox {
  margin-top: 25px;
  line-height: 58px;
}
.form__wrap {
  display: flex;
}
.form__wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center center;
}
.form__wrap--phone::after {
  background-image: url(../img/icon-phone.svg);
}
.form__wrap--mail::after {
  background-image: url(../img/icon-mail.svg);
}
.form__label {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #545454;
}
.form__label--column {
  margin-left: 20px;
}
input,
textarea {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.form__input {
  min-width: 0;
  height: 58px;
  margin-left: 15px;
  flex-grow: 1;
  padding: 0;
  padding-left: 20px;
  border: none;
  background-color: #f2f2f2;
  box-sizing: border-box;
  outline: none;
}
.form__input::-moz-placeholder {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.form__input::placeholder {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.form__input--column {
  margin: 0;
  margin-top: 5px;
}
.form__input:hover {
  background-color: #e5e5e5;
}
.form__input:active,
.form__input:focus {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
}
.form__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form__radio + .form__label {
  padding-left: 70px;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  color: #000000;
}
.form__radio + .form__label:hover::after,
.form__radio + .form__label:focus::after {
  background-color: #e5e5e5;
}
.form__radio + .form__label:active::after {
  background-color: #d5d5d5;
}
.form__radio + .form__label:active::before {
  opacity: 0.3;
}
.form__radio + .form__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 50%;
}
.form__radio:checked + .form__label::before {
  content: "";
  position: absolute;
  z-index: 20;
  top: 17px;
  left: 17px;
  width: 22px;
  height: 22px;
  background-color: #333333;
  border-radius: 50%;
}
.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form__checkbox + .form__label {
  padding-left: 80px;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  color: #000000;
}
.form__checkbox + .form__label:hover::after,
.form__checkbox + .form__label:focus::after {
  background-color: #e5e5e5;
}
.form__checkbox + .form__label:active::after {
  background-color: #d5d5d5;
}
.form__checkbox + .form__label:active::before {
  opacity: 0.3;
}
.form__checkbox + .form__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.form__checkbox:checked + .form__label::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 16px;
  z-index: 20;
  width: 24px;
  height: 16px;
  background-image: url(../img/icon-check.svg);
  background-repeat: no-repeat;
}
.form__textarea {
  width: 100%;
  min-height: 120px;
  padding: 20px;
  resize: none;
  border: none;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
.form__textarea::-moz-placeholder {
  font-size: 18px;
  word-spacing: 1px;
  font-weight: bold;
  color: #000000;
}
.form__textarea::placeholder {
  font-size: 18px;
  word-spacing: 1px;
  font-weight: bold;
  color: #000000;
}
.form__button {
  width: 280px;
  margin: 25px auto 40px;
}
.form__important {
  display: none;
}
@media (min-width: 768px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 648px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .form__group {
    width: 100%;
    padding: 0;
    margin-top: 70px;
  }
  .form__group:nth-child(1) {
    width: 270px;
    order: 2;
    border: none;
  }
  .form__group:nth-child(2) {
    order: 3;
  }
  .form__group:nth-child(3) {
    order: 1;
    width: 270px;
    border: none;
  }
  .form__group:nth-child(4) {
    order: 4;
    padding: 0 95px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .form__group:nth-child(5) {
    order: 5;
  }
  .form__title {
    width: 400px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    float: none;
    font-size: 21px;
  }
  .form__title--low {
    width: auto;
    margin-bottom: 60px;
    font-size: 18px;
    text-align: left;
  }
  .form__inner--column {
    width: 100%;
  }
  .form__inner--radio {
    margin-top: 20px;
  }
  .form__inner--checkbox {
    width: 220px;
    margin: 0;
    margin-top: 30px;
  }
  .form__inner--textarea {
    width: 100%;
  }
  .form__textarea {
    min-height: 160px;
  }
  .form__button {
    order: 6;
    width: 50%;
    margin: 0;
    margin-top: 58px;
  }
  .form__important {
    display: block;
    margin-top: 58px;
    order: 6;
    line-height: 56px;
    text-transform: uppercase;
    color: #333333;
  }
}
@media (min-width: 1200px) {
  .form {
    width: 960px ;
  }
  .form__group:nth-child(3),
  .form__group:nth-child(1) {
    width: 400px;
  }
  .form__group--column {
    flex-direction: row;
    justify-content: space-between;
  }
  .form__group:nth-child(4) {
    flex-direction: row;
    padding: 0;
  }
  .form__title--mod {
    padding-left: 80px;
  }
  .form__inner {
    width: 400px;
    margin: 0;
    margin-top: 30px;
  }
  .form__inner--column {
    flex-direction: row;
    width: 480px;
  }
  .form__inner--checkbox {
    width: 200px;
  }
  .form__inner--textarea {
    width: 960px;
  }
  .form__label {
    display: block;
    margin: 0;
  }
  .form__label span {
    display: none;
  }
  .form__label--column {
    width: auto;
    margin-right: 10px ;
    line-height: 63px ;
  }
  .form__wrap {
    position: relative;
    width: 315px;
  }
}
.popup {
  position: fixed;
  z-index: 20;
  top: 25%;
  left: 50%;
  display: none;
  width: 320px;
  padding: 45px 20px 35px;
  margin-bottom: 20px;
  margin-left: -160px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
}
.popup--saccess {
  padding-bottom: 0;
}
.popup--ondisplay {
  display: block;
}
.popup__title {
  margin: 0;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.popup__text {
  width: 220px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.popup__button {
  margin: 0 auto;
  font-size: 18px;
}
.popup__button--failure {
  width: 180px;
  margin-top: 30px;
}
.popup__button--success {
  width: 280px;
}
.popup__wrap {
  position: relative;
  bottom: 0;
  left: -20px;
  width: 280px;
  padding: 20px;
  margin-top: 35px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .popup {
    width: 400px;
    padding: 50px 60px;
    margin-left: -200px;
  }
  .popup--saccess {
    width: 640px;
    margin-left: -320px;
    padding: 0;
    padding-top: 60px;
  }
  .popup__title {
    width: 230px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 36px;
  }
  .popup__title--success {
    width: 370px;
  }
  .popup__text {
    width: auto;
  }
  .popup__text--success {
    width: 450px;
  }
  .popup__button {
    width: 100%;
  }
  .popup__wrap {
    padding: 45px 95px;
    width: 450px;
    left: 0;
  }
}
.photo__title {
  margin: 0;
  margin-top: 40px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
.photo__text {
  width: 270px;
  margin: 0 auto;
  margin-top: 35px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
.photo__text br {
  display: none;
}
.photo__list {
  margin-top: 10px;
}
.photo__item {
  padding: 20px;
  border-top: 1px solid #e5e5e5;
}
.photo__img {
  display: block;
}
.photo__name {
  margin: 0;
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase;
}
.photo__author {
  font-size: 14px;
  line-height: 24px;
}
.photo__like {
  margin-top: 10px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  background-image: url(../img/icon-like.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 23px 21px;
}
@media (min-width: 768px) {
  .photo__title {
    margin-top: 65px;
    font-size: 30px;
    line-height: 36px;
  }
  .photo__text {
    width: 430px;
  }
  .photo__text br {
    display: inline;
  }
  .photo__list {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;
    margin-top: 70px;
  }
  .photo__item {
    position: relative;
    width: 50%;
    padding: 0;
    padding-bottom: 20px;
    background-color: #f2f2f2;
    border: none;
  }
  .photo__item:nth-child(1) {
    width: 100%;
  }
  .photo__name {
    padding-left: 20px;
  }
  .photo__author {
    padding-left: 20px;
  }
  .photo__like {
    position: absolute;
    bottom: 30px ;
    right: 20px;
  }
}
@media (min-width: 1200px) {
  .photo__title {
    margin-top: 100px;
  }
  .photo__list {
    width: 1200px;
  }
  .photo__item {
    width: 33.33%;
    padding: 0;
  }
  .photo__wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .photo__name {
    color: #ffffff;
  }
}
.video {
  padding-bottom: 35px;
  border-top: 1px solid #e5e5e5;
}
.video__title {
  margin: 0;
  margin-top: 35px;
  text-align: center;
  text-transform: uppercase;
}
.video__text {
  width: 280px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
.video__wrap {
  position: relative;
  margin-top: 35px;
}
.video__control {
  display: flex;
  align-items: center;
  width: 87.5%;
  height: 66px;
  margin: 0 auto;
  padding: 0 25px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
.video__button {
  display: block;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: none;
}
.video__button:hover .video__button--return,
.video__button:focus .video__button--return {
  outline: none;
  fill: #333333;
}
.video__button:active {
  opacity: 0.3;
}
.video__button--subtitles {
  margin-left: 57%;
}
.video__button--fullscreen {
  margin-left: auto;
}
.video__button--range {
  position: absolute;
  bottom: 66px;
  left: 6.25%;
}
.svg {
  fill: #5c6870;
}
.return {
  width: 16px;
  height: 20px;
}
.subtitles {
  width: 32px;
  height: 20px;
}
.fullscreen {
  width: 20px;
  height: 20px;
}
@media (min-width: 768px) {
  .video {
    padding-bottom: 40px;
    border: none;
  }
  .video__title {
    margin-top: 65px;
    font-size: 30px;
    line-height: 36px;
  }
  .video__text {
    width: 420px;
  }
  .video__wrap {
    width: 648px;
    margin: 0 auto;
    margin-top: 70px;
  }
  .video__control {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 93px;
    margin: 0;
    padding: 0 35px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .video__button--subtitles {
    margin-left: auto;
  }
  .video__button--fullscreen {
    margin-left: 30px;
  }
  .video__button--range {
    position: static;
    background-color: transparent;
  }
  .svg {
    fill: #ffffff;
  }
}
@media (min-width: 1200px) {
  .video {
    padding-bottom: 85px;
  }
  .video__wrap {
    width: 800px;
  }
}
