.features {
  width: 280px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 40px;

  background-color: #ffffff;
}
.features__item {
  position: relative;

  padding-left: 50px;
  padding-top: 40px;
}
.features__img {
  width: 40px;
  height: 40px;

  position: absolute;
  top: 30px;
  left: 0;
}
.features__title {
  margin: 0;
}
.features__text {
  width: 210px;
  margin-top: 20px;

  line-height: 21px;
  text-transform: uppercase;
}