.main__title {
  max-width: 690px;
  height: 158px;
  margin: 0 auto;
  margin-top: -2px;

  font-size: 0;

  background-color: #000000;
  background-image: url(../img/fon.svg), url(../img/sedona-small.svg), url(../img/back-mobile.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center bottom, center center , center bottom;
  background-size: 1200px 57px, 229px 39px, cover;
  &--index {
    height: 389px;

    background-image: url(../img/fon.svg), url(../img/sedona.svg), url(../img/back-mobile.jpg);
    background-size: 1200px 57px, 282px 214px, cover;
  }
}