.main__title {
  height: 158px;
  margin: 0 auto;
  margin-top: -2px;

  font-size: 0;

  background-color: #000000;
  background-image: url(../img/fon.svg), url(../img/sedona-small.svg), url(../img/back-mobile.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center bottom, center center , center bottom;
  background-size: 1200px 57px, 229px 39px, cover;
  &--index {
    height: 389px;

    background-image: url(../img/fon.svg), url(../img/sedona.svg), url(../img/back-mobile.jpg);
    background-size: 1200px 57px, 282px 214px, cover;
  }
}
@media(min-width: @tablet){
  .main__title {
    &--index {
      height: 518px;

      background-image: url(../img/fon.svg), url(../img/sedona.svg), url(../img/back-tablet.jpg);
      background-size: 1200px 57px, 460px 350px, cover;
      background-position: center bottom, center 77px, center bottom;
    }
  }
}