.photo__title {
  margin: 0;
  margin-top: 40px;

  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
.photo__text {
  width: 280px;
  margin: 0 auto;
  margin-top: 35px;

  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
.photo__list {
  margin-top: 10px;
}
.photo__item {
  padding: 20px;

  border-top: 1px solid #e5e5e5 ;
}
.photo__img {
  display: block;
}
.photo__name {
  margin: 0;
  margin-top: 20px;

  font-size: 14px;
  line-height: 24px;
  color: #333333;

  text-transform: uppercase;
}
.photo__author {
  font-size: 14px;
  line-height: 24px;
}
.photo__like {
  margin-top: 10px;
  padding-left: 30px;

  font-size: 14px;
  line-height: 24px;
  font-weight: bold;

  background-image: url(../img/like.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 23px 21px;
}