.review__title {
  width: 270px;
  margin: 0 auto;
  margin-top: 40px;

  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
.review__text {
  width: 270px;
  margin: 0 auto;
  margin-top: 35px;

  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
.review__form {
  margin-top: 20px;
}