.search-motel__title {
  margin: 0;
  margin-top: 30px;

  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}
.search-motel__text {
  width: 280px;
  margin: 0 auto;
  margin-top: 25px;

  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.search-motel__button {
  width: 280px;
  margin: 0 auto;
  margin-top: 40px;
}
.search-motel__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin-top: 50px;

  overflow: scroll;
}
