.social__list {
  display: flex;
  justify-content: space-between;

  width: 161px;
  margin: 0 auto;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  font-size: 0;

  background-color: #81b3d2;
  &:hover, &:focus {
    background-color: #669ec0;
  }
  &:active {
    background-color: #5496bd;
    // &::before {
    //   opacity: 0.3;
    // }
  }
  
  .social__img {
    fill: #ffffff;
    &--tw {
      width: 18px;
      height: 14px;
    }
    &--fb {
      width: 9px;
      height: 18px;
    }
    &--youtube {
      width: 20px;
      height: 14px;
    }
    &:active  {
      opacity: 0.3;
    }
  }
  
}
