@mobile: 320px;
@tablet: 768px;

@font-face {
  font-family:"Myriad-Pro" ;
  src: url("../fonts/MYRIADPRO-REGULAR.OTF");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Myriad-Pro";
  src: url("../fonts/MyriadPro-Light.otf");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Myriad-Pro";
  src: url("../fonts/MYRIADPRO-BOLD.OTF");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
// ! Тестовый коментарийй
//? lorem

body {
  font-family: "Myriad-Pro", Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
}
@media (min-width: @tablet) {
  body {
    line-height: 21px;
  }
}